body {
    background-color: rgb(224, 224, 224);
    font-family: Georgia, 'Times New Roman', serif;
}

h1, h2, h3, h4 {
    background-color: lightblue;
    padding: 15px;
}

ul, ol {
    background-color: white;
    padding: 12px;
    padding-left: 25px;
}

.recipes-links li {
    margin-top: 10px;
}

.recipes-links li a {
    padding: 12px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
}

a:hover {
    color: lightblue;
    font-weight: 400;
}

footer {
    padding-bottom: 15px;
}
