body {
    background-color: rgb(236, 236, 236);
    font-family: Georgia, 'Times New Roman', serif;
}

.index-h1 {
    background-color: lightblue;
    padding: 15px;
    margin: 0px;
}

li {
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    padding: 12px;
}

a:hover {
    color: lightblue;
    font-weight: 400;
    padding: 16px;
}
